<div class="edit_fleets">
  <div class="form-inputs">
    Construir / Produzir:
    <%= simple_form_for @fleet, url: url_for(action: 'build') do |f| %>
      <table>
        <tr>
          <td><%= f.input :quantity, label: false, input_html: { maxlength: 3, size: 1 } %></td>
          <td><%= f.input :unit, collection: @units, label: false %></td>
          <td><%= f.submit 'Construir' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
