<h1>Planet#index</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Sector</th>
    </tr>
  </thead>

  <tbody>
    <% @planets.each do |planet| %>
      <tr>
        <td><%= image_tag("#{planet.image}", size: "100x100") %></td>
        <td><%= planet.name %></td>
        <td><%= planet.sector %></td>
      </tr>
    <% end %>
  </tbody>
</table>
