<h1>Hello Galaxy!</h1>

<div class="link">
  <%= link_to 'Units', unit_index_path %>
</div>
<div class="link">
  <%= link_to 'Planets', planet_index_path %>
</div>
<div class="link">
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
</div>
