<h1>Hello Galaxy!</h1>
<div class="panels">
	<div class="link">
	  <%= link_to 'Map', squads_map_path %>
	</div>
	<div class="link">
	  <%= link_to 'Units', units_index_path %>
	</div>
	<div class="link">
	  <%= link_to 'Planets', planets_path %>
	</div>
	<div class="link">
	  <%= link_to 'Sign Out', destroy_user_session_path %>
	</div>
</div>
