<% Planet.fog_seen_by(@squad).each do |planet| %>
  <% planet.fog_seen_by(@squad).each do |fleet| %>
    <span style="<%= style(fleet) %>">
      <%= show(fleet) %>
    </span>
    <% fleet.cargo.each do |cargo| %>
      <br>
      <span style="<%= style(cargo) %>">
        &nbsp &nbsp <%= show(cargo) %>
      </span>
    <% end %>
    <br>
  <% end %>
<% end %>
