<table>
  <tr>
    <td style="text-align:center">
      <br>
      <span style="font-size: 12px; font-weight: bold; text-decoration: blink">
        <%= raw @status %>
      </span>
    </td>
  </tr>
</table>
