<h1>Unidades do Jogo:</h1>
<table>
  <% @units.group_by(&:type).each do |type, unit| %>
    <tr>
      <td colspan="5">
        <span style="font-size: 16px">
          <%= type.pluralize %>:
        </span>
      </td>
    </tr>
    <% unit.each do |u| %>
      <tr>
          <td><%= image_tag("#{u.image}", size: "35") %></td>
          <td><%= u.name %></td>
          <td><%= u.factions.to_s.delete("[]") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
