/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    overflow: hidden;
    color: white;
    font-size: 10px;
    background-color: black;
    background-image: url('starfield.jpg');
}

div {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

info.tooltip{
  position:relative;
  cursor:help;
}

info.tooltip:hover{
  background:transparent;
  color:white;
  z-index:250;
}

info.tooltip tip{
  display: none
}

info.tooltip:hover tip{
  clear:both;
  display:block;
  position:absolute;
  top:20px;
  left:40px;
  width:auto;
  font-weight: normal;
  font-size: 8px;
  padding:2px;
  border:0px solid #999;
  background-color: white;
  color:black;
  text-shadow: none;
}
