/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    overflow: hidden;
    color: white;
    background-color: black;
    background-image: url('starfield.jpg');
}

.commands {
  white-space: nowrap;
  text-align: center;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  margin: 5px 5px;
  padding: 5px 5px;
  width: 20%;
  height: 73%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}

.resources {
  white-space: nowrap;
  text-align: center;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  margin: 5px 5px;
  padding: 3px 5px;
  width: 20%;
  height: 4%;
  position: absolute;
  left: 0%;
  top: 74%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}

.minimap {
    white-space: nowrap;
    border: 0 outset gray;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 79%;
    background-color: rgba(0,0,0,0.7);
    z-index: 0;
    background-image: url('galaxy.jpg');
    background-size: 100% 100%;
}

.main_panel {
  white-space: nowrap;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  margin: 5px 10px;
  padding: 5px 5px;
  width: 59%;
  height: 99%;
  position: absolute;
  left: 20%;
  top: 0%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}

.right_panel1 {
  white-space: nowrap;
  text-align: center;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  margin: 5px 5px;
  padding: 5px 5px;
  width: 20%;
  height: 45%;
  position: absolute;
  left: 79.5%;
  top: 0%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}

.right_panel2 {
  white-space: nowrap;
  text-align: center;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  margin: 5px 5px;
  padding: 5px 5px;
  width: 20%;
  height: 53.5%;
  position: absolute;
  left: 79.5%;
  top: 45.5%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}
