/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub "active_admin"
 */

body {
    color: white;
    font-size: 11px;
    background-color: black;
    background-image: asset-data-url("starfield.jpg")
  }

div {
  vertical-align: middle;
}

img {
  vertical-align: middle;
  z-index: 100;
}

a {
  text-decoration: none;
  cursor: pointer;
  z-index: 0;
}

a:link {
}

a:visited {
}

a:hover {
    filter: brightness(1.65);
}

.panels {
  white-space: nowrap;
  text-align: left;
  font-size: 14px;
  margin: 5px 0px 0px 0px;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  padding: 5px;
  width: 30%;
  height: auto;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}
info.tooltip{
  position:relative;
  cursor:help;
  white-space: nowrap;
}

info.tooltip:hover{
  background:transparent;
  color:white;
  z-index:100;
}

info.tooltip tip{
  display: none
}

info.tooltip:hover tip{
  clear:both;
  display:block;
  position:absolute;
  top:15px;
  left:30px;
  width:auto;
  font-weight: normal;
  font-size: 8px;
  padding:2px;
  border:0px solid #999;
  background-color: white;
  color:black;
  text-shadow: none;
}

.input{
  width:auto;
  height:auto;
  font-size: 14px;
  border:0px solid #999;
  background-color: black;
  color:white;
  text-shadow: none;
}
textarea{
  border:1px solid #999;
  padding:2px;
  background-color: black;
  text-align: left;
  color:white;
  width: auto;
  height: 50px;
}
.select{
  width:auto;
  height:25px;
  padding:0px;
  border:0px solid #999;
  background-color: black;
  color:white;
  text-shadow: none;
}
input[type=text]{
  border:1px solid #999;
  padding:2px;
  background-color: black;
  text-align: center;
  color:white;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  height: 20px;
  width: 35px;
  border:1px solid #999;
  padding:2px;
  background-color: black;
  text-align: center;
  color:white;
  font-weight: bold;
  -moz-appearance:textfield;
}
input[type=url]{
  border:1px solid #999;
  padding:2px;
  background-color: black;
  text-align: left;
  color:white;
}
