// Place all the styles related to the Squad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control_panel {
  white-space: nowrap;
  text-align: left;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  padding: 5px;
  width: 60%;
  height: 6%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.planets {

}

.edit_box {
  white-space: nowrap;
  text-align: center;
  border: 0 outset gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(120,130,180,0.60) inset;
  padding: 5px;
  width: 19%;
  height: 45%;
  position: absolute;
  left: 80%;
  top: 0%;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
  display: none;
}

.fleets {
    white-space: nowrap;
    border-radius: 6px;
    margin: 10px 5px 10px;
    padding: 5px 5px 8px 8px;
    width: auto;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    transition: all ease-in-out 0.36s;
    z-index: 10;
}

a:link {
    cursor:pointer;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    filter: brightness(1.65);
    text-decoration: none;
}
