<!DOCTYPE html>
<html>
  <head>
    <title>Xwsg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <script type="text/javascript">

      function myFunction() {
        var x = document.getElementById("right_panel1");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

  </script>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
